<div class="slider-container light rev_slider_wrapper">
    <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider
        data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 500, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500]}">
        <ul>
            <li data-transition="fade">

                <img src="img/slides/slide-corporate-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover"
                    data-bgrepeat="no-repeat" data-kenburns="on" data-duration="9000" data-ease="Linear.easeNone"
                    data-scalestart="150" data-scaleend="100" data-rotatestart="0" data-rotateend="0"
                    data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="0" class="rev-slidebg">

                <div class="tp-caption" data-x="['177','177','center','center']" data-hoffset="['0','0','-150','-220']"
                    data-y="180" data-start="1000" data-transform_in="x:[-300%];opacity:0;s:500;"><img
                        src="img/slides/slide-title-border-light.png" alt=""></div>

                <div class="tp-caption top-label" data-x="['227','227','center','center']" data-y="172"
                    data-fontsize="['24','24','24','36']" data-start="500"
                    data-transform_in="y:[-300%];opacity:0;s:500;">DO YOU NEED A NEW</div>

                <div class="tp-caption" data-x="['480','480','center','center']" data-hoffset="['0','0','150','220']"
                    data-y="180" data-start="1000" data-transform_in="x:[300%];opacity:0;s:500;"><img
                        src="img/slides/slide-title-border-light.png" alt=""></div>

                <div class="tp-caption main-label" data-x="['135','135','center','center']"
                    data-y="['210','210','210','230']" data-start="1500" data-whitespace="nowrap"
                    data-fontsize="['62','62','62','82']" data-transform_in="y:[100%];s:500;"
                    data-transform_out="opacity:0;s:500;" data-mask_in="x:0px;y:0px;">WEB DESIGN?</div>

                <div class="tp-caption bottom-label" data-x="['185','185','center','center']"
                    data-y="['280','280','280','315']" data-start="2000" data-fontsize="['20','20','20','30']"
                    data-transform_in="y:[100%];opacity:0;s:500;">Check out our options and features.</div>

            </li>
            <li data-transition="fade">

                <img src="img/slides/slide-corporate-2.jpg" alt="" data-bgposition="right center"
                    data-bgpositionend="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-kenburns="on"
                    data-duration="9000" data-ease="Linear.easeNone" data-scalestart="110" data-scaleend="100"
                    data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0"
                    data-bgparallax="0" class="rev-slidebg">

                <div class="tp-caption featured-label" data-x="center" data-y="210" data-start="500"
                    data-fontsize="['52','52','52','82']" style="z-index: 5" data-transform_in="y:[100%];s:500;"
                    data-transform_out="opacity:0;s:500;">WELCOME TO PORTO</div>

                <div class="tp-caption bottom-label" data-x="center" data-y="['270','270','270','290']"
                    data-start="1000" data-fontsize="['23','23','23','38']" data-transform_idle="o:1;"
                    data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:600;e:Power4.easeInOut;"
                    data-transform_out="opacity:0;s:500;" data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                    data-splitin="chars" data-splitout="none" data-responsive_offset="on"
                    style="font-size: 23px; line-height: 30px;" data-elementdelay="0.05">The #1 Selling HTML Site
                    Template on ThemeForest</div>

            </li>
        </ul>
    </div>
</div>

<section class="section m-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our <strong>Services</strong></h2>
            </div>
        </div>
        <div class="row text-center text-md-left mt-4">
            <div class="col-md-4">
                <div class="row justify-content-center justify-content-md-start">
                    <div class="col-4">
                        <img class="img-fluid mb-4" src="img/icons/seo-grey.png" alt="">
                    </div>
                    <div class="col-lg-8">
                        <h4 class="mb-1">SEO Optimization</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p><a class="btn-flat btn-xs" href="#">View More <i class="fa fa-arrow-right"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row justify-content-center justify-content-md-start">
                    <div class="col-4">
                        <img class="img-fluid mb-4" src="img/icons/marketing-grey.png" alt="">
                    </div>
                    <div class="col-lg-8">
                        <h4 class="mb-1">Marketing</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p><a class="btn-flat btn-xs" href="#">View More <i class="fa fa-arrow-right"></i></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row justify-content-center justify-content-md-start">
                    <div class="col-4">
                        <img class="img-fluid mb-4" src="img/icons/support-grey.png" alt="">
                    </div>
                    <div class="col-lg-8">
                        <h4 class="mb-1">Support Services</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p><a class="btn-flat btn-xs" href="#">View More <i class="fa fa-arrow-right"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section-no-background m-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <img class="img-fluid mb-4" src="img/office/our-office-9.jpg" alt="Office">
            </div>
            <div class="col-lg-9">
                <h2 class="mb-4">Our <strong>Company</strong></h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat urna arcu. Mauris
                    lobortis nulla ut aliquet interdum.</p>
                <p>Mauris lobortis nulla ut aliquet interdum. Donec commodo ac elit sed placerat. Mauris rhoncus est ac
                    sodales gravida. In eros felis, elementum aliquam nisi vel, pellentesque faucibus nulla. Lorem ipsum
                    dolor. <a class="btn-flat btn-xs" href="#">View More <i class="fa fa-arrow-right"></i></a></p>
            </div>
        </div>
    </div>
</section>

<section class="section m-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="mb-1">Our <strong>Team</strong></h2>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-2 col-6 text-center mb-4">
                <img src="img/team/team-11.jpg" class="img-fluid" alt="">
                <h5 class="mt-2 mb-0">Bruno Doe</h5>
                <p class="mb-0">CEO</p>
            </div>
            <div class="col-lg-2 col-6 text-center mb-4">
                <img src="img/team/team-12.jpg" class="img-fluid" alt="">
                <h5 class="mt-2 mb-0">Jeff Doe</h5>
                <p class="mb-0">Developer</p>
            </div>
            <div class="col-lg-2 col-6 text-center mb-4">
                <img src="img/team/team-13.jpg" class="img-fluid" alt="">
                <h5 class="mt-2 mb-0">Jessica Doe</h5>
                <p class="mb-0">Marketing</p>
            </div>
            <div class="col-lg-2 col-6 text-center mb-4">
                <img src="img/team/team-14.jpg" class="img-fluid" alt="">
                <h5 class="mt-2 mb-0">Greg Doe</h5>
                <p class="mb-0">SEO</p>
            </div>
            <div class="col-lg-2 col-6 text-center mb-4">
                <img src="img/team/team-15.jpg" class="img-fluid" alt="">
                <h5 class="mt-2 mb-0">Alex Doe</h5>
                <p class="mb-0">Support</p>
            </div>
            <div class="col-lg-2 col-6 text-center mb-4">
                <img src="img/team/team-16.jpg" class="img-fluid" alt="">
                <h5 class="mt-2 mb-0">Melissa Doe</h5>
                <p class="mb-0">Support</p>
            </div>
        </div>
    </div>
</section>

<section class="parallax section section-text-light section-parallax section-center mt-0 mb-0" data-plugin-parallax
    data-plugin-options="{'speed': 1.5}" data-image-src="img/parallax-3.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="owl-carousel owl-theme nav-bottom rounded-nav"
                    data-plugin-options="{'items': 1, 'loop': false}">
                    <div>
                        <div class="col">
                            <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-0">
                                <div class="testimonial-author">
                                    <img src="img/clients/client-1.jpg" class="img-fluid rounded-circle" alt="">
                                </div>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta,
                                        tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit
                                        amet, consectetur adipiscing elit. Sociis natoque penatibus et magnis dis
                                        parturient montes, nascetur ridiculus mus. Fusce ante tellus, convallis non
                                        consectetur sed, pharetra nec ex.</p>
                                </blockquote>
                                <div class="testimonial-author">
                                    <p><strong>John Smith</strong><span>CEO & Founder - Okler</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col">
                            <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-0">
                                <div class="testimonial-author">
                                    <img src="img/clients/client-1.jpg" class="img-fluid rounded-circle" alt="">
                                </div>
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget risus porta,
                                        tincidunt turpis at, interdum tortor. Suspendisse potenti. Lorem ipsum dolor sit
                                        amet, consectetur adipiscing elit.</p>
                                </blockquote>
                                <div class="testimonial-author">
                                    <p><strong>John Smith</strong><span>CEO & Founder - Okler</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section mt-0 section-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our <strong> Blog</strong></h2>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-3">
                <img class="img-fluid" src="img/blog/blog-vintage-1.jpg" alt="Blog">
                <div class="recent-posts mt-3 mb-4">
                    <article class="post">
                        <h5><a class="text-dark" href="blog-post.html">Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit.</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in
                            consequat.</p>
                        <div class="post-meta">
                            <span><i class="fa fa-calendar"></i> January 10, 2017 </span>
                            <span><i class="fa fa-user"></i> By <a href="#">John Doe</a> </span>
                            <span><i class="fa fa-tag"></i> <a href="#">Duis</a>, <a href="#">News</a> </span>
                            <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <img class="img-fluid" src="img/blog/blog-vintage-2.jpg" alt="Blog">
                <div class="recent-posts mt-3 mb-4">
                    <article class="post">
                        <h5><a class="text-dark" href="blog-post.html">Lorem consectetur adipiscing elit.</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in
                            consequat.</p>
                        <div class="post-meta">
                            <span><i class="fa fa-calendar"></i> January 10, 2017 </span>
                            <span><i class="fa fa-user"></i> By <a href="#">John Doe</a> </span>
                            <span><i class="fa fa-tag"></i> <a href="#">Duis</a>, <a href="#">News</a> </span>
                            <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <img class="img-fluid" src="img/blog/blog-vintage-3.jpg" alt="Blog">
                <div class="recent-posts mt-3 mb-4">
                    <article class="post">
                        <h5><a class="text-dark" href="blog-post.html">Lorem dolor sit amet, consectetur adipiscing
                                elit.</a></h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in
                            consequat.</p>
                        <div class="post-meta">
                            <span><i class="fa fa-calendar"></i> January 10, 2017 </span>
                            <span><i class="fa fa-user"></i> By <a href="#">John Doe</a> </span>
                            <span><i class="fa fa-tag"></i> <a href="#">Duis</a>, <a href="#">News</a> </span>
                            <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
                        </div>
                    </article>
                </div>
            </div>
            <div class="col-lg-3">
                <img class="img-fluid" src="img/blog/blog-vintage-4.jpg" alt="Blog">
                <div class="recent-posts mt-3 mb-4">
                    <article class="post">
                        <h5><a class="text-dark" href="blog-post.html">Lorem ipsum dot, consectetur adipiscing elit.</a>
                        </h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec hendrerit vehicula est, in
                            consequat.</p>
                        <div class="post-meta">
                            <span><i class="fa fa-calendar"></i> January 10, 2017 </span>
                            <span><i class="fa fa-user"></i> By <a href="#">John Doe</a> </span>
                            <span><i class="fa fa-tag"></i> <a href="#">Duis</a>, <a href="#">News</a> </span>
                            <span><i class="fa fa-comments"></i> <a href="#">12 Comments</a></span>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>